name: zipPack

on:
  push:
    branches:
        - resource-pack

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate tag name
        id: tag
        run: echo "TAG=auto-${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Create ZIP archive
        run: zip -r TowerAndTerror.zip .

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.TAG }}
          release_name: Release ${{ env.TAG }}
          draft: false
          prerelease: false

      - name: Upload ZIP file to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./TowerAndTerror.zip
          asset_name: TowerAndTerror.zip
          asset_content_type: application/zip
          
